.nav {
  position: fixed;
  top: 0;
  padding: 30px;
  width: 100vh;
  height: 40px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.7s;
}

.navContents {
  display: flex;
  justify-content: space-between;
}

.navBlack {
  background-color: #468c46;
}

.navLogo {
  position: fixed;
  top: 1px;
  left: 0;
  width: 80px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
}


.navButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 6px 18px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: #2b2b2b;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
